<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY NLP APP</title>
</head>
<body>
        <div>
        <h1>Hello, this is test app I've made for HSE interview!</h1>
            <ul class="menu">
                <h3>Menu:</h3>
                <li class="menu_link">
                    <a href="/parser/" class="parser">Parser</a>
                </li>
                <li class="menu_link">
                    <a href="/" class="translator_and_analyser">Translator</a>
                </li>
            </ul>
        </div>
            <form method="POST">
                <h2>Parser page</h2>
                <h2>Haven't decided yet, how I'll put information here</h2>


                <h2>{{ out_form }}</h2>

            </form>
        </div>

</body>
</html>